### Which NYC schools have the best math results?

The best math results are at least 80% of the *maximum possible score of 800* for math.
Save your results in a pandas DataFrame called **best_math_schools**, including **"school_name"** and **"average_math"** columns, sorted by **"average_math"** in descending order.

### What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called **top_10_schools** containing the **"school_name"** and a new column named **"total_SAT"**, with results ordered by **"total_SAT"** in descending order (**"total_SAT"** being the sum of math, reading, and writing scores).


### Which single borough has the largest standard deviation in the combined SAT score?

Save your results as a pandas DataFrame called **largest_std_dev**.
The DataFrame should contain one row, with:
**"borough"** - the name of the NYC borough with the largest standard deviation of **"total_SAT"**.
**"num_schools"** - the number of schools in the borough.
**"average_SAT"** - the mean of **"total_SAT"**.
**"std_SAT"** - the standard deviation of **"total_SAT"**.
Round all numeric values to two decimal places.

In [6]:
#Installing pandas
%pip install pandas

Requirement already satisfied: pandas in .\new_york\Lib\site-packages (3.0.1)
Requirement already satisfied: numpy>=2.3.3 in .\new_york\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in .\new_york\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in .\new_york\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in .\new_york\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ip (D:\Datacamp - New york public school test\new_york\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (D:\Datacamp - New york public school test\new_york\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (D:\Datacamp - New york public school test\new_york\Lib\site-packages)

In [6]:
#importing pandas
import pandas as pd

# reading the data
schools = pd.read_csv("schools.csv")

# reviewing data
schools.info()
schools.head()

<class 'pandas.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    str
 1   borough          375 non-null    str
 2   building_code    375 non-null    str
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), str(3)
memory usage: 20.6 KB

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [21]:
# NYC school with the best math result
best_math_schools = schools[schools["average_math"]>= 640]

sorted_schools = best_math_schools.sort_values(["school_name", "average_math"], ascending=[False, True])

best_math_schools = sorted_schools[["school_name", "average_math"]]
print(best_math_schools)

                                           school_name  average_math
333                        Townsend Harris High School           680
88                              Stuyvesant High School           754
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
0    New Explorations into Science, Technology and ...           657
174  High School of American Studies at Lehman College           669
68   High School for Mathematics, Science, and Engi...           683
45                       Eleanor Roosevelt High School           641
280                     Brooklyn Technical High School           682
170                       Bronx High School of Science           714

In [20]:
# Top 10 performing schools based on combines SAT score.

#new column total_SAT
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# sorting the top 10 schools
top_10_schools = schools.sort_values("total_SAT", ascending = False)[["school_name", "total_SAT"]].head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [ ]:
#